<!doctype html>
<html lang="fr">
	<head>
		<!-- global meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="La plateforme tout-en-un pour le dépôt et le suivi de vos devoirs, projets et livrables.">
		<meta name="keywords" content="livrables, projets, devoirs, dépôt, suivi, étudiants">
		<meta
		name="author" content="FileSphere">
		<!-- favicon -->
		<link
		rel="icon" href="{{ asset('/images/favicon.ico') }}" type="image/x-icon">
		<!-- social meta tags -->
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta
		name="bingbot" content="index, follow">
		<!-- facebook and twitter meta tags -->
		<meta property="og:title" content="File Sphere - Plateforme de dépôt et de suivi de livrables">
		<meta property="og:description" content="La plateforme tout-en-un pour le dépôt et le suivi de vos devoirs, projets et livrables.">
		<meta property="og:image" content="{{ asset('/images/bg.png') }}">
		<meta
		property="og:url" content="{{ env('APP_URL') }}">
		<!-- twitter meta tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="FileSphere - Plateforme de dépôt et de suivi de livrables">
		<meta name="twitter:description" content="La plateforme tout-en-un pour le dépôt et le suivi de vos devoirs, projets et livrables.">
		<meta name="twitter:image" content="{{ asset('/images/bg.png') }}">
		{% block css %}
			<link rel="stylesheet" href="{{ asset('/css/main.css') }}?v={{ random() }}"/>
		{% endblock %}
		<title>
			FileSphere —
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		{% if env('APP_ENV') == 'demo' %}
			<div class="demo-banner" style="position: absolute; width: 100%; top: 0; left: 0; right: 0;">
				<div class="demo-banner-content">
					<svg width="20px" height="20px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 16.99V17M12 7V14M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#92400E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<span>Vous consultez une version de démonstration de FileSphere. Toutes les données sont réinitialisées chaque jour.</span>
				</div>
			</div>
		{% endif %}
		<div class="auth-page-container">
			<div class="sidebar-color">
				<div style="background-color: #8fbf55; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #37b7d5; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #4b4b99; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #935b9e; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #e4813f; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #fad053; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #da4759; height: 12.5%; width: 100%;"></div>
				<div style="background-color: #3498db; height: 12.5%; width: 100%;"></div>
			</div>
			<div class="content-area"> {% block content %}{% endblock %}
				</div>
			</div>
		</body>
		{% block js %}{% endblock %}
	</html>
