{% extends "dashboard.html.twig" %}
{% block title %}
	{{ parent() }}
	Devoirs de la section
	{{ section.name }}
	de la classe
	{{ class.name }}
{% endblock %}
{% do clear_session_alert() %}
{% block content %}
	<div class="app-body-main-content">
		<section>

			<div class="page-header-container">
				<button id="toggle-navigation" class="toggle-navigation">
					<svg width="20px" height="20px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M4 6C4 5.44772 4.44772 5 5 5H19C19.5523 5 20 5.44772 20 6C20 6.55228 19.5523 7 19 7H5C4.44772 7 4 6.55228 4 6Z" fill="#000000"></path>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z" fill="#000000"></path>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M5 17C4.44772 17 4 17.4477 4 18C4 18.5523 4.44772 19 5 19H19C19.5523 19 20 18.5523 20 18C20 17.4477 19.5523 17 19 17H5Z" fill="#000000"></path>
					</svg>
				</button>
				<div class="page-breacrumb">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/dashboard/classes">
									{% if session.user.role == 'admin' %}Classes{% else %}Mes Classes
									{% endif %}
								</a>
								<svg width="10" height="10" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</li>
							<li class="breadcrumb-item">
								{{ class.name }}
								<svg width="10" height="10" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</li>
							<li class="breadcrumb-item">
								<a href="/dashboard/classes/{{ class.id }}/sections">
									Sections

								</a>
								<svg width="10" height="10" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</li>
							<li class="breadcrumb-item">
								{{ section.name }}
								<svg width="10" height="10" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Devoirs
							</li>
						</ol>
					</nav>
				</div>
			</div>


			<div class="page-header">
				<h2>
					Devoir de la section
					{{ section.name }}
					de la classe
					{{ class.name }}
				</h2>
				{% if session.user.role == "admin" %}
					<a href="#creation" class="button">Créer un devoir</a>
				{% endif %}
			</div>
			{% if session.alert and session.alert.context == 'global' %}
				<p class="{{ session.alert.status == 'error' ? 'error-message' : 'success-message' }}" style="margin-bottom: 20px;">
					{{ session.alert.message }}
				</p>
			{% endif %}
			{% if session.user.role == "admin" %}
				<div class="overlay" id="creation">
					<a href="#" class="overlay-content" href="#"></a>
					<div class="popup" style="max-height: 80vh; overflow-y: auto;">
						<a href="#" class="close-btn">&times;</a>
						<h1>Créer un devoir</h1>
						<form action="/dashboard/classes/{{ class.id }}/sections/{{ section.id }}/assignments/create" method="POST" enctype="multipart/form-data">
							{% if session.alert and session.alert.context == 'modal' %}
								<p class="{{ session.alert.status == 'error' ? 'error-message' : 'success-message' }}" style="margin-bottom: 20px;">
									{{ session.alert.message }}
								</p>
							{% endif %}
							<div class="form-part">
								<label for="name">Nom</label>
								<input type="text" name="name" id="name" placeholder="Nom" autofocus>
							</div>
							<div class="form-part">
								<label for="description">Description</label>
								<textarea name="description" id="description" placeholder="Description" rows="5" style="resize: vertical;"></textarea>
							</div>
							<div class="form-part">
								<label for="start_period">Date de début</label>
								<input type="datetime-local" name="start_period" id="start_period" value="{{ "now"|date('Y-m-d\\TH:i') }}">
							</div>
							<div class="form-part">
								<label for="end_period">Date de fin</label>
								<input type="datetime-local" name="end_period" id="end_period" value="{{ "now +1 day"|date('Y-m-d\\TH:i') }}">
							</div>
							<div class="form-part">
								<label for="max_files">Nombre de fichiers autorisés</label>
								<input type="number" name="max_files" id="max_files" placeholder="Nombre de fichiers autorisés" min="1" max="10" value="1" oninput="if(this.value > 10) this.value = 10; this.value = this.value.replace(/[^0-9]/g, '');">
							</div>
							<div class="form-part">
								<label style="display: flex; align-items: center; gap: 10px;">
									<input type="checkbox" name="allow_late_submission" id="allow_late_submission">
									Autoriser les soumissions en retard
								</label>
							</div>
							<div class="form-part">
								<label for="file">Fichiers d'instructions (optionnel)</label>
								<label class="file-input" id="drop-area" for="file">
									<input type="file" name="instruction_files[]" id="file" accept=".jpg,.jpeg,.png,.gif,.zip,.rar,.7z,.tar,.gz,.txt,.ppt,.pptx,.doc,.docx,.pdf" multiple>
									<p>Sélectionner ou glisser-déposer les fichiers utiles à ce devoir ici.</p>
									<p>Vous pouvez téléverser jusqu'à 10 fichiers maximum.</p>
									<p id="file-info">
										Aucun fichier sélectionné
									</p>
								</label>
							</div>
							<button type="submit">Créer</button>
						</form>
					</div>
				</div>
			{% endif %}
			<div class="assignments">
				{% for assignment in section.assignments %}


					<div class="assignment">
						{% if session.user.role == "admin" %}
							<div class="overlay" id="delete-{{ assignment.id }}">
								<a href="#" class="overlay-content" href="#"></a>
								<div class="popup" style="max-height: 80vh; overflow-y: auto;">
									<a href="#" class="close-btn">&times;</a>
									<h1>
										Supprimer
										{{ assignment.name }}
										?
									</h1>
									<div class="form-part">
										<p>Êtes-vous sûr de vouloir supprimer ce devoir ? La suppression est irréversible et entraine la suppression de toutes les soumissions et fichiers associés.</p>
									</div>
									<form action="/dashboard/classes/{{ class.id }}/sections/{{ section.id }}/assignments/{{ assignment.id }}/delete" method="POST">
										<input type="hidden" name="section_id" value="{{ section.id }}">
										<input type="hidden" name="class_id" value="{{ class.id }}">
										<input type="hidden" name="assignment_id" value="{{ assignment.id }}">
										<button type="submit" class="danger">Supprimer</button>
									</form>
								</div>
							</div>
						{% endif %}
						<a class="assignment-main-content" href="/dashboard/classes/{{ class.id }}/sections/{{ section.id }}/assignments/{{ assignment.id }}/details">
							<div class="assignment-content">
								<div class="assignment-header">
									<div class="assignment-header-container">
										<div class="assignment-header-content">
											<h3>{{ assignment.name }}</h3>
										</div>
									</div>
									<div class="assignment-state submitted" style="display: none;">
										<svg width="20px" height="20px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M9.5 2C8.67157 2 8 2.67157 8 3.5V4.5C8 5.32843 8.67157 6 9.5 6H14.5C15.3284 6 16 5.32843 16 4.5V3.5C16 2.67157 15.3284 2 14.5 2H9.5Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 4.03662C5.24209 4.10719 4.44798 4.30764 3.87868 4.87694C3 5.75562 3 7.16983 3 9.99826V15.9983C3 18.8267 3 20.2409 3.87868 21.1196C4.75736 21.9983 6.17157 21.9983 9 21.9983H15C17.8284 21.9983 19.2426 21.9983 20.1213 21.1196C21 20.2409 21 18.8267 21 15.9983V9.99826C21 7.16983 21 5.75562 20.1213 4.87694C19.552 4.30764 18.7579 4.10719 17.5 4.03662V4.5C17.5 6.15685 16.1569 7.5 14.5 7.5H9.5C7.84315 7.5 6.5 6.15685 6.5 4.5V4.03662ZM15.5117 12.5483C15.8146 12.2657 15.8309 11.7911 15.5483 11.4883C15.2657 11.1855 14.7911 11.1691 14.4883 11.4517L10.7143 14.9741L9.51174 13.8517C9.20893 13.5691 8.73434 13.5855 8.45171 13.8883C8.16909 14.1911 8.18545 14.6657 8.48826 14.9483L10.2025 16.5483C10.4907 16.8172 10.9379 16.8172 11.226 16.5483L15.5117 12.5483Z" fill="currentColor"/>
										</svg>
										<span>Vous avez rendu ce devoir</span>
									</div>
									<div class="assignment-state not-submitted" style="display: none;">
										<svg width="20px" height="20px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M9.5 2C8.67157 2 8 2.67157 8 3.5V4.5C8 5.32843 8.67157 6 9.5 6H14.5C15.3284 6 16 5.32843 16 4.5V3.5C16 2.67157 15.3284 2 14.5 2H9.5Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M3.87868 4.87694C4.44798 4.30764 5.24209 4.10719 6.5 4.03662V4.5C6.5 6.15685 7.84315 7.5 9.5 7.5H14.5C16.1569 7.5 17.5 6.15685 17.5 4.5V4.03662C18.7579 4.10719 19.552 4.30764 20.1213 4.87694C21 5.75562 21 7.16983 21 9.99826V15.9983C21 18.8267 21 20.2409 20.1213 21.1196C19.2426 21.9983 17.8284 21.9983 15 21.9983H9C6.17157 21.9983 4.75736 21.9983 3.87868 21.1196C3 20.2409 3 18.8267 3 15.9983V9.99826C3 7.16983 3 5.75562 3.87868 4.87694ZM12 13.4394L10.0303 11.4697C9.73744 11.1768 9.26256 11.1768 8.96967 11.4697C8.67678 11.7626 8.67678 12.2374 8.96967 12.5303L10.9394 14.5L8.96969 16.4697C8.6768 16.7626 8.6768 17.2374 8.96969 17.5303C9.26258 17.8232 9.73746 17.8232 10.0304 17.5303L12 15.5607L13.9696 17.5303C14.2625 17.8232 14.7374 17.8232 15.0303 17.5303C15.3232 17.2374 15.3232 16.7625 15.0303 16.4697L13.0607 14.5L15.0303 12.5303C15.3232 12.2375 15.3232 11.7626 15.0303 11.4697C14.7374 11.1768 14.2626 11.1768 13.9697 11.4697L12 13.4394Z" fill="currentColor"/>
										</svg>
										<span>Vous n'avez pas rendu ce devoir</span>
									</div>
									<div class="assignment-state submitted-late" style="display: none;">
										<svg width="20px" height="20px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M9.5 2C8.67157 2 8 2.67157 8 3.5V4.5C8 5.32843 8.67157 6 9.5 6H14.5C15.3284 6 16 5.32843 16 4.5V3.5C16 2.67157 15.3284 2 14.5 2H9.5Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 4.03662C5.24209 4.10719 4.44798 4.30764 3.87868 4.87694C3 5.75562 3 7.16983 3 9.99826V15.9983C3 18.8267 3 20.2409 3.87868 21.1196C4.75736 21.9983 6.17157 21.9983 9 21.9983H15C17.8284 21.9983 19.2426 21.9983 20.1213 21.1196C21 20.2409 21 18.8267 21 15.9983V9.99826C21 7.16983 21 5.75562 20.1213 4.87694C19.552 4.30764 18.7579 4.10719 17.5 4.03662V4.5C17.5 6.15685 16.1569 7.5 14.5 7.5H9.5C7.84315 7.5 6.5 6.15685 6.5 4.5V4.03662ZM15.5117 12.5483C15.8146 12.2657 15.8309 11.7911 15.5483 11.4883C15.2657 11.1855 14.7911 11.1691 14.4883 11.4517L10.7143 14.9741L9.51174 13.8517C9.20893 13.5691 8.73434 13.5855 8.45171 13.8883C8.16909 14.1911 8.18545 14.6657 8.48826 14.9483L10.2025 16.5483C10.4907 16.8172 10.9379 16.8172 11.226 16.5483L15.5117 12.5483Z" fill="currentColor"/>
										</svg>
										<span>Vous avez rendu ce devoir en retard</span>
									</div>
								</div>
								<div class="assignment-footer">
									<div class="assignment-footer-content">
										<p>
											Date de rendu:
										</p>
										<div>
											<svg width="16px" height="16px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="currentColor"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M12 7.25C12.4142 7.25 12.75 7.58579 12.75 8V11.6893L15.0303 13.9697C15.3232 14.2626 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2626 15.3232 13.9697 15.0303L11.4697 12.5303C11.329 12.3897 11.25 12.1989 11.25 12V8C11.25 7.58579 11.5858 7.25 12 7.25Z" fill="white"/>
											</svg>
											<span>{{ assignment.endPeriod|date('d/m/Y') }}</span>
										</div>
									</div>
								</div>
							</div>
						</a>
						{% if session.user.role in ["teacher", "admin"] %}
							<details class="dropdown" role="button" aria-haspopup="true" aria-expanded="false" tabindex="0">
								<summary role="button">
									<a class="button">
										<svg fill="#000000" width="18px" height="18px" viewbox="0 0 32 32" enable-background="new 0 0 32 32" id="Glyph" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<path d="M16,13c-1.654,0-3,1.346-3,3s1.346,3,3,3s3-1.346,3-3S17.654,13,16,13z" id="XMLID_287_"></path>
											<path d="M6,13c-1.654,0-3,1.346-3,3s1.346,3,3,3s3-1.346,3-3S7.654,13,6,13z" id="XMLID_289_"></path>
											<path d="M26,13c-1.654,0-3,1.346-3,3s1.346,3,3,3s3-1.346,3-3S27.654,13,26,13z" id="XMLID_291_"></path>
										</svg>
									</a>
								</summary>
								<ul>
									<li><a href="/dashboard/classes/{{ class.id }}/sections/{{section.id}}/assignments/{{assignment.id}}/submissions"><svg width="16px" height="16px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.0694 9.95182C17.3989 9.95177 18.5317 9.95172 19.436 10.054C19.5895 10.0714 19.7425 10.0923 19.8943 10.1178C20.4264 10.2071 20.9447 10.3533 21.4242 10.6063V9.75579C21.4242 8.84687 21.4243 8.09279 21.3389 7.49156C21.2489 6.85704 21.0526 6.29458 20.5834 5.83245C20.5069 5.75707 20.4261 5.68552 20.3415 5.61807C19.8297 5.21023 19.2162 5.04345 18.5217 4.96608C17.8526 4.89155 17.0097 4.89157 15.9765 4.89158L15.6237 4.89158C14.6416 4.89158 14.2895 4.88587 13.9706 4.80533C13.7833 4.75802 13.6035 4.69195 13.4348 4.60878C13.1505 4.46867 12.9028 4.25761 12.2072 3.64132L11.7331 3.22128C11.5341 3.04489 11.3982 2.9245 11.2526 2.81755C10.6279 2.35879 9.86732 2.08132 9.07098 2.01534C8.88555 1.99998 8.69632 1.99999 8.41308 2.00002L8.29666 2.00001C7.65599 1.9999 7.23317 1.99983 6.86604 2.0612C5.26119 2.32947 3.96344 3.45143 3.64735 4.93575C3.57543 5.27344 3.57554 5.66035 3.57571 6.21853L3.57573 10.6063C4.05523 10.3533 4.57357 10.2071 5.1056 10.1178C5.25746 10.0923 5.41043 10.0714 5.56394 10.054C6.46822 9.95172 7.60107 9.95177 8.93055 9.95182H16.0694Z" fill="#000000"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.35791 12.7788C2.74772 13.7202 2.99956 15.0292 3.50323 17.6471C3.8658 19.5317 4.04709 20.474 4.67523 21.0993C4.8382 21.2615 5.02054 21.4053 5.2186 21.5278C5.98195 22 6.99539 22 9.02227 22H15.9777C18.0046 22 19.0181 22 19.7814 21.5278C19.9795 21.4053 20.1618 21.2615 20.3248 21.0993C20.9529 20.474 21.1342 19.5317 21.4968 17.6471C22.0004 15.0292 22.2523 13.7202 21.6421 12.7788C21.4864 12.5386 21.2943 12.3211 21.0721 12.1334C20.2011 11.3976 18.7933 11.3976 15.9777 11.3976H9.02227C6.20667 11.3976 4.79888 11.3976 3.92792 12.1334C3.70566 12.3211 3.51363 12.5386 3.35791 12.7788ZM9.69518 17.1807C9.69518 16.7815 10.0376 16.4578 10.4601 16.4578H14.5398C14.9622 16.4578 15.3047 16.7815 15.3047 17.1807C15.3047 17.58 14.9622 17.9036 14.5398 17.9036H10.4601C10.0376 17.9036 9.69518 17.58 9.69518 17.1807Z" fill="#000000"/></svg><span>Consulter les soumissions</span></a></li>
									<li><a href="/dashboard/classes/{{ class.id }}/sections/{{section.id}}/assignments/{{assignment.id}}/edit"><svg width="16px" height="16px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2788 2.15224C13.9085 2 13.439 2 12.5 2C11.561 2 11.0915 2 10.7212 2.15224C10.2274 2.35523 9.83509 2.74458 9.63056 3.23463C9.53719 3.45834 9.50065 3.7185 9.48635 4.09799C9.46534 4.65568 9.17716 5.17189 8.69017 5.45093C8.20318 5.72996 7.60864 5.71954 7.11149 5.45876C6.77318 5.2813 6.52789 5.18262 6.28599 5.15102C5.75609 5.08178 5.22018 5.22429 4.79616 5.5472C4.47814 5.78938 4.24339 6.1929 3.7739 6.99993C3.30441 7.80697 3.06967 8.21048 3.01735 8.60491C2.94758 9.1308 3.09118 9.66266 3.41655 10.0835C3.56506 10.2756 3.77377 10.437 4.0977 10.639C4.57391 10.936 4.88032 11.4419 4.88029 12C4.88026 12.5581 4.57386 13.0639 4.0977 13.3608C3.77372 13.5629 3.56497 13.7244 3.41645 13.9165C3.09108 14.3373 2.94749 14.8691 3.01725 15.395C3.06957 15.7894 3.30432 16.193 3.7738 17C4.24329 17.807 4.47804 18.2106 4.79606 18.4527C5.22008 18.7756 5.75599 18.9181 6.28589 18.8489C6.52778 18.8173 6.77305 18.7186 7.11133 18.5412C7.60852 18.2804 8.2031 18.27 8.69012 18.549C9.17714 18.8281 9.46533 19.3443 9.48635 19.9021C9.50065 20.2815 9.53719 20.5417 9.63056 20.7654C9.83509 21.2554 10.2274 21.6448 10.7212 21.8478C11.0915 22 11.561 22 12.5 22C13.439 22 13.9085 22 14.2788 21.8478C14.7726 21.6448 15.1649 21.2554 15.3694 20.7654C15.4628 20.5417 15.4994 20.2815 15.5137 19.902C15.5347 19.3443 15.8228 18.8281 16.3098 18.549C16.7968 18.2699 17.3914 18.2804 17.8886 18.5412C18.2269 18.7186 18.4721 18.8172 18.714 18.8488C19.2439 18.9181 19.7798 18.7756 20.2038 18.4527C20.5219 18.2105 20.7566 17.807 21.2261 16.9999C21.6956 16.1929 21.9303 15.7894 21.9827 15.395C22.0524 14.8691 21.9088 14.3372 21.5835 13.9164C21.4349 13.7243 21.2262 13.5628 20.9022 13.3608C20.4261 13.0639 20.1197 12.558 20.1197 11.9999C20.1197 11.4418 20.4261 10.9361 20.9022 10.6392C21.2263 10.4371 21.435 10.2757 21.5836 10.0835C21.9089 9.66273 22.0525 9.13087 21.9828 8.60497C21.9304 8.21055 21.6957 7.80703 21.2262 7C20.7567 6.19297 20.522 5.78945 20.2039 5.54727C19.7799 5.22436 19.244 5.08185 18.7141 5.15109C18.4722 5.18269 18.2269 5.28136 17.8887 5.4588C17.3915 5.71959 16.7969 5.73002 16.3099 5.45096C15.8229 5.17191 15.5347 4.65566 15.5136 4.09794C15.4993 3.71848 15.4628 3.45833 15.3694 3.23463C15.1649 2.74458 14.7726 2.35523 14.2788 2.15224ZM12.5 15C14.1695 15 15.5228 13.6569 15.5228 12C15.5228 10.3431 14.1695 9 12.5 9C10.8305 9 9.47716 10.3431 9.47716 12C9.47716 13.6569 10.8305 15 12.5 15Z" fill="#000000"></path></svg><span>Modifier</span></a></li>
									<li><a href="#delete-{{ assignment.id }}" class="danger"><svg width="16px" height="16px" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.75 6.16667C2.75 5.70644 3.09538 5.33335 3.52143 5.33335L6.18567 5.3329C6.71502 5.31841 7.18202 4.95482 7.36214 4.41691C7.36688 4.40277 7.37232 4.38532 7.39185 4.32203L7.50665 3.94993C7.5769 3.72179 7.6381 3.52303 7.72375 3.34536C8.06209 2.64349 8.68808 2.1561 9.41147 2.03132C9.59457 1.99973 9.78848 1.99987 10.0111 2.00002H13.4891C13.7117 1.99987 13.9056 1.99973 14.0887 2.03132C14.8121 2.1561 15.4381 2.64349 15.7764 3.34536C15.8621 3.52303 15.9233 3.72179 15.9935 3.94993L16.1083 4.32203C16.1279 4.38532 16.1333 4.40277 16.138 4.41691C16.3182 4.95482 16.8778 5.31886 17.4071 5.33335H19.9786C20.4046 5.33335 20.75 5.70644 20.75 6.16667C20.75 6.62691 20.4046 7 19.9786 7H3.52143C3.09538 7 2.75 6.62691 2.75 6.16667Z" fill="current"/><path d="M11.6068 21.9998H12.3937C15.1012 21.9998 16.4549 21.9998 17.3351 21.1366C18.2153 20.2734 18.3054 18.8575 18.4855 16.0256L18.745 11.945C18.8427 10.4085 18.8916 9.6402 18.45 9.15335C18.0084 8.6665 17.2628 8.6665 15.7714 8.6665H8.22905C6.73771 8.6665 5.99204 8.6665 5.55047 9.15335C5.10891 9.6402 5.15777 10.4085 5.25549 11.945L5.515 16.0256C5.6951 18.8575 5.78515 20.2734 6.66534 21.1366C7.54553 21.9998 8.89927 21.9998 11.6068 21.9998Z" fill="current"/></svg><span>Supprimer</span></a></li>
								</ul>
							</details>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="/assets/js/uploadarea.js"></script>
{% endblock %}
