{% extends "blank.html.twig" %}

{% block title %}
	{{ parent() }}
	Réinitialisation du mot de passe
{% endblock %}

{% block content %}
	{% do clear_session_alert() %}
	<div class="auth-container">
		<div class="auth-form">
			<img src="assets/images/logo.svg" alt="Logo" class="logo-mobile">
			{% if token is defined and user_id is defined %}
				<form action="/resetpassword" method="post">
					<h2>Réinitialisation du mot de passe</h2>
					{% if session.alert %}
						<p class="{{ session.alert.status == 'error' ? 'error-message' : 'success-message' }}">
							{{ session.alert.message }}
						</p>
					{% endif %}
					<input type="hidden" name="token" value="{{ token }}">
					<input type="hidden" name="user_id" value="{{ user_id }}">
					<div class="input-group">
						<label for="newpassword">Mot de passe</label>
						<input type="password" id="newpassword" name="newpassword" placeholder="Mot de passe" required>
					</div>
					<div class="input-group">
						<label for="newpasswordconfirm">Confirmer le mot de passe</label>
						<input type="password" id="newpasswordconfirm" name="newpasswordconfirm" placeholder="Confirmer le mot de passe" required>
					</div>
					<button type="submit" class="btn">Envoyer</button>
				</form>
			{% else %}
				<form action="/resetpassword" method="post">
					<h2>Envoyer un email de réinitialisation</h2>
					{% if session.alert %}
						<p class="{{ session.alert.status == 'error' ? 'error-message' : 'success-message' }}">
							{{ session.alert.message }}
						</p>
					{% endif %}
					<div class="input-group">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" placeholder="Email" required>
					</div>
					<a href="/login" class="sub-link">Retour à la page de connexion</a>
					<button type="submit" class="btn">Envoyer</button>
				</form>
			{% endif %}
			<p class="copy-right">© FileSphere 2025 — Tous droits réservés</p>
		</div>
		<div class="logo">
			<img src="assets/images/logo.svg" alt="Logo">
		</div>
	</div>
{% endblock %}
